{% extends 'example/base.html' %}

{%block title %} 代码编辑器{% endblock %}

{% load staticfiles %}
{% block linkscript %}
    <link href="{% static 'css/plugins/codemirror/codemirror.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/codemirror/ambiance.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
            <div class="row wrapper border-bottom white-bg page-heading">

                <div class="col-lg-10">
                    <h2>代码编辑器 - Code Mirror</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">主页</a>
                        </li>
                        <li>
                            <a>杂七杂八</a>
                        </li>
                        <li>
                            <strong>Code Mirror</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content  animated fadeInRight">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>基本编辑器</h5>
                            </div>
                            <div class="ibox-content">

                                <p class="m-b-lg">
                                    <strong>CodeMirror</strong> 是一个灵活的文本代码编辑器。它是专门用于编辑代码，并附带一些语言模块和插件，实现更先进的编辑功能。
                                </p>

                                <textarea id="code1"><script>
    // Code goes here

     // For demo purpose - animation css script
    function animationHover(element, animation) {
        element = $(element);
        element.hover(
            function () {
                element.addClass('animated ' + animation);
            },
            function () {
                //wait for animation to finish before removing classes
                window.setTimeout(function () {
                    element.removeClass('animated ' + animation);
                }, 2000);
            });
    }
</script>
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>主题示例</h5>
                            </div>
                            <div class="ibox-content">

                                <p class="m-b-lg">
                                    <strong>CodeMirror</strong>提供丰富的API接口和CSS主题，详情请访问
                                    <a href="http://codemirror.net/" target="_blank">http://codemirror.net/</a>
                                </p>
                                <textarea id="code2">// Code goes here

     // For demo purpose - animation css script
    function animationHover(element, animation) {
        element = $(element);
        element.hover(
            function () {
                element.addClass('animated ' + animation);
            },
            function () {
                //wait for animation to finish before removing classes
                window.setTimeout(function () {
                    element.removeClass('animated ' + animation);
                }, 2000);
            });
    }
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>

    <script src="{% static 'js/plugins/codemirror/codemirror.js' %}"></script>
    <script src="{% static 'js/plugins/codemirror/mode/javascript/javascript.js' %}"></script>

    <script>
        $(document).ready(function () {

            var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
                lineNumbers: true,
                matchBrackets: true,
                styleActiveLine: true,
                theme: "ambiance"
            });

            var editor_two = CodeMirror.fromTextArea(document.getElementById("code2"), {
                lineNumbers: true,
                matchBrackets: true,
                styleActiveLine: true
            });

        });
    </script>

{% endblock %}