{% extends 'example/base.html' %}

{%block title %}表单验证{% endblock %}

{% load staticfiles %}
{% block linkscript %}

{% endblock %}


{% block contents %}

            <div class="row wrapper border-bottom white-bg page-heading">

                <div class="col-lg-10">
                    <h2>表单验证</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <li>
                            <a>杂七杂八</a>
                        </li>
                        <li>
                            <strong>模态窗口</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content  animated fadeInRight">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>表单验证</h5>
                            </div>
                            <div class="ibox-content">
                                <h2>
                                jQuery表单验证插件 - 让表单验证变得更容易
                            </h2>
                                <form role="form" id="form">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" placeholder="请输入Email" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>密码</label>
                                        <input type="password" placeholder="请输入密码" class="form-control" name="password">
                                    </div>
                                    <div class="form-group">
                                        <label>Url</label>
                                        <input type="text" placeholder="请输入Url" class="form-control" name="url">
                                    </div>
                                    <div class="form-group">
                                        <label>数字</label>
                                        <input type="text" placeholder="请输入数字" class="form-control" name="number">
                                    </div>
                                    <div class="form-group">
                                        <label>最小长度</label>
                                        <input type="text" placeholder="请输入Email" class="form-control" name="min">
                                    </div>
                                    <div class="form-group">
                                        <label>最大长度</label>
                                        <input type="text" placeholder="请输入Email" class="form-control" name="max">
                                    </div>
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>提交</strong>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>方法</h5>
                            </div>
                            <div class="ibox-content">
                                <h2>
                               内置验证方法
                            </h2>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>方法</th>
                                            <th>描述</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>remote</td>
                                            <td>请求远程校验。url通常是一个 远程调用方法
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>minlength</td>
                                            <td>设置最小长度</td>
                                        </tr>
                                        <tr>
                                            <td>maxlength</td>
                                            <td>设置最大长度</td>
                                        </tr>
                                        <tr>
                                            <td>rangelength</td>
                                            <td>设置一个长度范围[min,max]</td>
                                        </tr>
                                        <tr>
                                            <td>min</td>
                                            <td>设置最小值</td>
                                        </tr>
                                        <tr>
                                            <td>max</td>
                                            <td>设置最大值</td>
                                        </tr>
                                        <tr>
                                            <td>range</td>
                                            <td>设置值的范围</td>
                                        </tr>
                                        <tr>
                                            <td>email</td>
                                            <td>验证电子邮箱格式</td>
                                        </tr>
                                        <tr>
                                            <td>url</td>
                                            <td>验证URL格式</td>
                                        </tr>
                                        <tr>
                                            <td>date</td>
                                            <td>验证日期格式(类似30/30/2008的格式,不验证日期准确性只验证格式</td>
                                        </tr>
                                        <tr>
                                            <td>dateISO</td>
                                            <td>验证ISO类型的日期格式</td>
                                        </tr>
                                        <tr>
                                            <td>number</td>
                                            <td>验证十进制数字（包括小数）</td>
                                        </tr>
                                        <tr>
                                            <td>digits</td>
                                            <td>验证整数</td>
                                        </tr>
                                        <tr>
                                            <td>creditcard</td>
                                            <td>验证信用卡号</td>
                                        </tr>
                                        <tr>
                                            <td>equalTo</td>
                                            <td>验证两个输入框的内容是否相同</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>

            </div>


    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/plugins/validate/messages_zh.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#form").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 3
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    number: {
                        required: true,
                        number: true
                    },
                    min: {
                        required: true,
                        minlength: 6
                    },
                    max: {
                        required: true,
                        maxlength: 4
                    }
                }
            });
        });
    </script>

{% endblock %}

